*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}

svg { display: flex; }

.App {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 150px;

  @media screen and (max-width: 1200px) {
    padding: 0 20px;
  }
}